html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Excercise */
h1 {
  font-size: 2rem;
}

.cat-face-image {
  width: 300px;
  height: 300px;
  object-fit: contain;
  border: 1px solid blue; /* centered in the square */
}
